.wrapper{
    cursor: pointer;
}

.Item{
    display: flex;
    width: 100%;
    min-height: 50px;

}
.icon-setting {
    margin: 15px 20px;
}
.title{
    margin-top: 15px;
    font-weight: 700;
}

