.wrapper {
    width: 380px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
//Ranking
.rank{
    width: 350px;
    height: 300px;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapp_rank{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.rank_icon{
    font-size: 150px;
    margin-bottom: 20px;
    color: cadetblue;
}

 .rank_text{
    margin-bottom: 10px;
}

.wrapp_rank .rank_decription{
    margin-left: 17px;
}
// Hoạt động , thành tích đạt được
.activity{
    width: 350px;
    height: 234px;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
}
.wrapp_activity{
    width: 100%;
    /* font-size: 20px; */
    display: flex;
    flex-direction: column;
}

.activity_text{
    flex: 1;
    margin: 10px 10px;

}

.activity_content{
    margin-right: 40px;
    height: 165px;
}

.activity_decription{
    font-size: 11px;

}

.activity_icon {
    font-size: 100px;

}

.more_activity{
    margin-top: -10px;
    display: flex;
    margin-left: 210px;
}

.more_text{
    font-size: 13px;
    /* font-size: large; */
    color: blue;
    cursor: pointer;
}

.more_icon_2{
    margin-left: 5px;
}

// Bảng xếp hạng
.charts{
    width: 350px;
    height: 500px;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.image_chart{
    width: 156px;
    /* font-size: large; */
    height: auto;
}

/// Achievement

.achievement{
    width: 350px;
    height: 234px;
    border: 2px solid rgb(228, 228, 228);
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
}

.wrapp_achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.achievement_text {
    margin: 15px 10px;

}

.wrap_icon{
    display: flex   ;
}

.achievement_icon {
    font-size: 40px;
    padding: 10px;
    color: burlywood;
}

.achievement_decription {
    /* align-items: center; */
    text-align: center;
    padding: 0px 30px;

}

.more_activity_2 {
    margin-top: 15px;
    display: flex;
    margin-left: 170px;

}

.more_icon{
    margin-left: 5px;
}
.more_text_2 {
    font-size: 13px;
    /* font-size: large; */
    color: blue;
}

// Xếp hạng --------------------------------

.leaderboard {
    margin-top: 25px;
    /* border-radius: 20px; */
    width: 350px;
    height: 308px;
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 20px;
  
    h1 {
      font-size: 18px;
      color: #e1e1e1;
      padding: 12px 13px 18px;
      align-items: center;
  
    } 
  
    ul {
  
      li {
        height: 52px;
        list-style: none;
        position: relative;
        z-index: 1;
        font-size: 14px;
        counter-increment: leaderboard;
        padding: 18px 10px 18px 50px;
        cursor: pointer;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.0, 1.0);
  
  
        &::before {
          content: counter(leaderboard);
          position: absolute;
          z-index: 2;
          top: 15px;
          left: 15px;
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: #c24448;
          background: #fff;
          border-radius: 20px;
          text-align: center;
        }
  
        mark {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 18px 10px 18px 50px;
          margin: 0;
          background: none;
          color: #fff;
  
          &::before, &::after {
            content: '';
            position: absolute;
            z-index: 1;
            bottom: -11px;
            left: -9px;
            border-top: 10px solid #c24448;
            border-left: 10px solid transparent;
            transition: all .1s ease-in-out;
            opacity: 0;
          }
  
          &::after {
            left: auto;
            right: -9px;
            border-left: none;
            border-right: 10px solid transparent;
          }
        }
  
        small {
          position: relative;
          z-index: 2;
          display: block;
          text-align: right;
        }
  
        &::after {
          content: '';
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fa6855;
          box-shadow: 0 3px 0 rgba(0, 0, 0, .08);
          // transform: scaleX(1.06) scaleY(1.03);
          transition: all .3s ease-in-out;
          opacity: 0;
        }
  
        &:nth-child(1) {
          background: #fa6855;
          &::after {
            background: #fa6855;
          }
        }
  
        &:nth-child(2) {
          background: #e0574f;
          &::after {
            background: #e0574f;
            box-shadow: 0 2px 0 rgba(0, 0, 0, .08);
          }
  
          & mark {
            &::before, &::after {
              border-top: 6px solid #ba4741;
              bottom: -7px;
            }
          }
        }
  
        &:nth-child(3) {
          background: #d7514d;
          &::after {
            background: #d7514d;
            box-shadow: 0 1px 0 rgba(0, 0, 0, .11);
          }
  
          & mark {
            &::before, &::after {
              border-top: 2px solid #b0433f;
              bottom: -3px;
            }
          }
        }
  
        &:nth-child(4) {
          background: #cd4b4b;
          &::after {
            background: #cd4b4b;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
          }
  
          & mark {
            &::before, &::after {
              top: -7px;
              bottom: auto;
              border-top: none;
              border-bottom: 6px solid #a63d3d;;
            }
          }
        }
  
        &:nth-child(5) {
          background: #c24448;
          border-radius: 0 0 10px 10px;
          &::after {
            background: #c24448;
            box-shadow: 0 -2.5px 0 rgba(0, 0, 0, .12);
            border-radius: 0 0 10px 10px;
          }
  
          & mark {
            &::before, &::after {
              top: -9px;
              bottom: auto;
              border-top: none;
              border-bottom: 8px solid #993639;
            }
          }
        }
  
      }
  
      // hover
      li:hover {
        z-index: 2;
        overflow: visible;
  
        &::after {
          opacity: 1;
          transform: scaleX(1.06) scaleY(1.03);
        }
  
        & mark {
          &::before, &::after {
            opacity: 1;
            transition: all .35s ease-in-out;
          }
        }
      }
  
    }
  }
  
